<div class="container">
  <header>
    <div class="header">
      <!-- semi transparent bar accross top.  Logo and Create set list and cancel buttons -->
      <p>Header</p>
    </div>
  </header>
  <div class="set-info-wrapper">
    <!-- Form to create set name and date -->
    <p>set info</p>
  </div>
  <div class="lists-container">
    <!-- Container for songs and set lists -->
    <div class="set scroll">
      <h3 class="text-center">Set One</h3>
      <ul id="set_1" class="droptrue">
        <p>Drag Here</p>
      </ul>
    </div>
    <div class="set scroll">
      <h3 class="text-center">Set Two</h3>
      <ul id="set_2" class="droptrue">
      </ul>
    </div>
    <div class="set scroll">
      <h3 class="text-center">Set Three</h3>
      <ul id="set_3" class="droptrue">
      </ul>
    </div>
    <div class="set scroll">
      <h3 class="text-center">Set Four</h3>
      <ul id="set_4" class="droptrue">
      </ul>
    </div>
    <div class="set scroll">
      <h3 class="text-center">Songs</h3>
      <ul id="songs" class="droptrue">
        <% @songs.each do |song| %>
          <li id="<%=song.id%>" class="song clearfix">
            <img src="/music-menu.png" class="handle">
            <div class="song-name"><%=song.title%></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!--
<div class="container">
  <h1 class="text-center">Create Set Lists</h1>
  <hr>
  <div class="row row-centered">
    <% if @sets == 4 %>
      <% col_width = 2 %>
    <% else %>
      <% col_width = 3 %>
    <% end %>
    <% (1..@sets).each do |set| %>
      <div class="col-xs-<%=col_width%> col-centered">
        <h2 class="text-center">Set <%=set%></h2>
        <ul id="set_<%=set%>" class="droptrue">
        </ul>
      </div>
    <% end %>
    <div class="col-xs-<%=col_width%> col-centered scroll">
      <h2 class="text-center">Songs</h2>
      <div>
        <ul id="songs" class="droptrue">
          <% @songs.each do |song| %>
            <li id="<%=song.id%>"><%=song.title%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="set_list" id="<%=@set_list.id%>"></div>
</div>
<div = class="container">
  <p>
    <a class="btn btn-primary m-t-10" href="/set_lists/<%=@set_list.id%>">Set List Done</a>
  </p>
</div>




<form action="/set_lists/new/<%=@set_list.id%>" method="post">
<div class = "row">
  <div class="col-md-2 panel panel-default">
    <p>Set One</p>
    <% (1..10).each do |set_item| %>
      <select class="form-control" name="1,<%=set_item%>">
        <% @songs.each do |song| %>
          <option value="<%=song.id%>"><%=song.title%></option>
        <% end %>
      </select>
    <% end %>
  </div>
  <div class="col-md-2 panel panel-default">
    <p>Set Two</p>
    <% (1..10).each do |set_item| %>
      <select class="form-control" name="2,<%=set_item%>">
        <% @songs.each do |song| %>
          <option value="<%=song.id%>"><%=song.title%></option>
        <% end %>
      </select>
    <% end %>
  </div>
  <div class="col-md-2 panel panel-default">
    <p>Set Three</p>
    <% (1..10).each do |set_item| %>
      <select class="form-control" name="3,<%=set_item%>">
        <% @songs.each do |song| %>
          <option value="<%=song.id%>"><%=song.title%></option>
        <% end %>
      </select>
    <% end %>
  </div>
  <div class="col-md-2 panel panel-default">
    <p>Set Four</p>
    <% (1..10).each do |set_item| %>
      <select class="form-control" name="4,<%=set_item%>">
        <% @songs.each do |song| %>
          <option value="<%=song.id%>"><%=song.title%></option>
        <% end %>
      </select>
    <% end %>
  </div>
</div>
<input type="submit" value="Create Set List">
</form>
