<h3><%=@set_list.venue.name%> - <%=@set_list.performance_date%></h3>
<div class="row">
  <div class="col-md-2 panel panel-default">
    <p>Set One</p>
    <% (1..10).each do |order|%>
      <p><%=@set_items.where(order: order, set: 1).first.song.title%><p>
    <% end %>
  </div>
  <div class="col-md-2 panel panel-default">
    <p>Set Two</p>
    <% (1..10).each do |order|%>
      <p><%=@set_items.where(order: order, set: 2).first.song.title%><p>
    <% end %>
  </div>
  <div class="col-md-2 panel panel-default">
    <p>Set Three</p>
    <% (1..10).each do |order|%>
      <p><%=@set_items.where(order: order, set: 3).first.song.title%><p>
    <% end %>
  </div>
  <div class="col-md-2 panel panel-default">
    <p>Set Four</p>
    <% (1..10).each do |order|%>
      <p><%=@set_items.where(order: order, set: 4).first.song.title%><p>
    <% end %>
  </div>
</div>
