<div class="container text-center">
  <h3><%=@set_list.venue.name%> - <%=@set_list.performance_date%></h3>
  <hr>
  <div class="row row-centered">
    <% if @sets == 4 %>
      <% col_width = 2 %>
    <% else %>
      <% col_width = 3 %>
    <% end %>
    <% (1..@set_list.number_of_sets).each do |set| %>
      <div class="col-xs-<%=col_width%> col-centered">
        <h2 class="text-center">Set <%=set%></h2>
        <ul id="set_<%=set%>">
          <% @set_items.where(set: set).order(:order).each do |set_item| %>
            <li><%=set_item.song.title%></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<div = class="container">
  <p>
    <a class="btn btn-primary m-t-10" href="/set_lists/<%=@set_list.id%>/edit">Edit Set List</a>
  </p>
  <p>
    <a class="btn btn-danger" href="/set_lists/<%=@set_list.id%>/delte">Delete Set List</a>
  </p>
  <p>
    <a class="btn btn-default" href="/set_lists">Back to Set Lists</a>
  </p>
</div>
