<div class="container text-center">
  <h1 class="text-center"><%= @song.title %></h1>
  <hr>
  <div class="container">
    <p><b>Artist:</b></p>
    <p><%=@song.artist%></p>
    <p><b>Band Members:</b></p>
    <% if @band_members.empty? %>
      <p>None</p>
    <% end %>
    <% @band_members.each do |b| %>
      <p><%=b.name%>, <%=b.instrument%>
    <% end %>
    <p><b>Status:</b><p>
    <p><%= @song.active ? "Active" : "Not Active" %></p>
    <p>
      <a class="btn btn-primary" href="/songs/<%=@song.id%>/edit">Edit Song</a>
    </p>
    <p>
      <a class="btn btn-default" href="/songs">Back To All Songs</a>
    </p>
  </div>
</div>
