<h1 class="text-center"><%= @song.title %></h1>

<div class="container">
  <div class="text-center">
    <p style="bold">Artist:</p>
    <p><%=@song.artist%></p>
    <p style="bold">Band Members:</p>
    <% @band_members.each do |b| %>
      <p><%=b.name%>, <%=b.instrument%>
    <% end %>
    <p>Status:<p>
      <p><%= @song.active ? "Active" : "Not Active" %></p>
    <a class="btn btn-primary" href="/songs/<%=@song.id%>/edit">Edit Song</a>
  </div>
</div>
