<div class="container text-center">
  <h1><%=@venue.name%></h1>
  <hr>
  <h4><%=@venue.name%></h4>
  <p><%=@venue.address%></p>
  <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDuVAx1bKqOw5JlHchrqb_VhdgYNHIl6rQ
    &q=<%=@venue.address%>" allowfullscreen>
  </iframe>
  <p>
    <a class="btn btn-primary" href="/venues/<%=@venue.id%>/edit">Edit Venue</a>
  </p>
  <p>
    <a class="btn btn-default" href="/venues">Back to All Venues</a>
  </p>
</div>
